* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: url('redbeam.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.header {
    padding: 3%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    justify-content: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-style: normal;
}

.firstletter {
    color: red;
}

nav {
    justify-content: flex-end;
}

nav>a {
    padding: 20px;
    text-decoration: none;
}

a {
    color: red;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: white;
}

a:active {
    color: rgb(241, 142, 12);
}


.intro {
    padding: 1%;
    margin: 10% 2% 10% 7%;
    max-width: 600vw;
    max-height: 300vw;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    padding: 30px;
    margin: 100px 20px 20px 20px;
    height: 350px;
    width: 600px;
}

.bottom {
    text-align: center;
    padding: 30px;
    margin: 20px;
    ;
}